@import '../../assets//themes/_themify.scss';

.ant-typography pre {
    border: none;
}

.shared-modal {
    @include themify  {
        border: 1px solid themed('outer-bg-border-color');
    }
    overflow: auto;
    max-height: 450px;
    font-size: 14px;
    border-radius: 6px;
}

.shared-user-message {
    @include themify {
        background-color: themed('markdown-body-input-bg-color'); /* 用户输入的背景颜色 */
    }
    font-size: 14px;
    padding: 15px 10px 15px 10px !important;
    margin: 0px 0px 0px 0px !important;
}
  
.shared-bot-message {
    @include themify {
        background-color: themed('markdown-body-reply-bg-color'); /* 机器人回复的背景颜色 */
    }
    font-size: 14px;
    padding: 15px 10px 15px 10px !important;
    margin: 0px 0px 0px 0px !important;
}

.user-text{
    @include themify {
        color: themed('reversed-color');
    }
}

.ai-icon{
    @include themify {
        color: themed('ai-icon-color');
        background-color: themed('ai-icon-bg-color');
    }
}

.user-icon{
    @include themify {
        color: themed('user-icon-color');
        background-color: themed('user-icon-bg-color');
    }
}

.notice-icon{
    @include themify {
        color: themed('notice-icon-color');
        background-color: themed('notice-icon-bg-color');
    }
}

.card-preview {
    position: relative;
    overflow: hidden;
}

.card-preview .card-preview-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-preview:hover .card-preview-icon-wrapper {
    opacity: 0.8;
}

.card-preview:hover::after {
    content: '';
    position: absolute;
    top: 8%;
    left: 8%;
    bottom: 8%;
    right: 8%;
    background: rgba(0, 0, 0, 0.4); /* 灰色遮罩的颜色和透明度 */
    pointer-events: none;
    z-index: 1;
}

.card-preview .card-preview-img-wrapper {
    padding: 8px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-preview .card-preview-img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}