.Sider-content{
    background-color: #e8f2ff !important;
    height: auto;
    padding:0px 0px;
}

.Sider-content Button{
    background-color: #ffffff;
}

.button-col{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

  