.Sider {
    width: 260px !important;
    border-right: 1.5px solid #dddddd;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 4;
}

.background {
    z-index: 0;
}

.center-box{
    z-index: 1;
}

::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
  