@import './assets//themes/_themify.scss';

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
  
::-webkit-scrollbar-thumb {
    @include themify{
        background-color: themed('scrollbar-thumb-color');
    }
    border-radius: 2px;
}
  
::-webkit-scrollbar-thumb:hover {
    @include themify{
        background-color: themed('scrollbar-thumb-hover-color');
    }
}

/* Badge*/
.solid-badge .ant-badge-count {
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 0px 6px;
    letter-spacing: 1px;
}

.normal-badge .ant-badge-count {
    border-radius: 2px;
    padding: 0px 6px;
    letter-spacing: 0.5px;
}

/* Tag Global */
.ant-tag {
    letter-spacing: 0.6px; /* 设置合适的letter-spacing值 */
}

.layout-container {
    @include themify {
        background-color: themed('primary-color');
    }
}

.markdown-body-dark {
    background-color: transparent;
    color: #cfcdca;
}