.Header {
    position: relative;
    height: 65px !important;
    background-color: #e9f5ff !important;
    box-shadow: 0px 2px 10px #dddddd;
    z-index: 1;
}

.Header .title {
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    vertical-align:  middle;
}

.Header .logo{
    height: 30px;
    vertical-align:  middle;
}

.Sider {
    width: 260px !important;
    background-color: #ffffff !important;
    border-right: 1.5px solid #dddddd;
    overflow-y: auto;
    scrollbar-width: none;
}

.Sider::-webkit-scrollbar{
    display: none;
}

.Footer{
    background-color: #44a9ff !important;
    font-size: 4px !important;
    line-height: 25px;
    color: #ffffff !important;
    vertical-align:  middle;
}