$light:(
    // antd-color-primary
    // antd-color-bg-container
    ai-icon-bg-color: #c7ffaf,
    ai-icon-color: #62a645,
    ant-menu-color: #e8f2ff,
    ant-menu-item-color: white,
    ant-menu-item-hover-color: #eaeaea,
    ant-menu-item-selected-bg-color: #f8f8f8,
    ant-menu-item-selected-box-shadow-color: #296cc4,
    button-bg-color: white,
    button-hover-color: #4287e1,
    gradient-divider-center-color: #4287e1,
    gradient-divider-tip-color: #a3c2eb,
    link-color: #1677ff,
    link-hover-color: #69b1ff,
    markdown-body-input-bg-color: #f8f8f8,
    markdown-body-reply-bg-color: #ffffff,
    notice-icon-bg-color: #e8d3ff,
    notice-icon-color: #7945af,
    outer-bg-border-color: #ccc,
    outer-bg-color: #fafafa,
    primary-color: white,
    prism-text-ordinary: black,
    reversed-color: black,
    scrollbar-thumb-color: #ccc,
    scrollbar-thumb-hover-color: #aaa,
    selected-outline-color: #1677ff,
    sendbox-bg-color: #f8f8f8,
    sendbox-border-top-color: #cccccc,
    sendbox-shadow-color: #dddddd,
    Sider-border-right-color: #dddddd,
    Sider-content-color: #e8f2ff,
    Tabs-Content-bg-color: #f8f8f8,
    Tabs-Header-bg-color: #ffffff,
    Tabs-Header-border-bottom-color: #cccccc,
    text-area-bg-color: #ffffff,
    title-tag-color: #4287e1,
    user-icon-bg-color: #fde3cf,
    user-icon-color: #f56a00,

    light-visibility: visible,
    dark-visibility: hidden,
);

$dark:(
    // antd-color-primary
    // antd-color-bg-container
    ai-icon-bg-color: #2f6300,
    ai-icon-color: #81c067,
    ant-menu-color: #1e2122,
    ant-menu-item-color: #181a1b,
    ant-menu-item-hover-color: #152337,
    ant-menu-item-selected-bg-color: #0c141f,
    ant-menu-item-selected-box-shadow-color: #224d86,
    button-bg-color: #181a1b,
    button-hover-color: #4287e1,
    gradient-divider-center-color: #19529d,
    gradient-divider-tip-color: #0f1b28,
    link-color: #1677ff,
    link-hover-color: #69b1ff,
    markdown-body-input-bg-color: #1c1e1f,
    markdown-body-reply-bg-color: #181a1b,
    notice-icon-bg-color: #e8d3ff,
    notice-icon-color: #7945af,
    outer-bg-border-color: #3a3e41,
    outer-bg-color: #1b1d1e,
    primary-color: black,
    prism-text-ordinary: slategrey,
    reversed-color: #cfcdca,
    scrollbar-thumb-color: #35393b,
    scrollbar-thumb-hover-color: #484e51,
    selected-outline-color: #2153b0,
    sendbox-bg-color: #1c1e1f,
    sendbox-border-top-color: #3a3e41,
    sendbox-shadow-color: #2b2f31,
    Sider-border-right-color: #3a3e41,
    Sider-content-color: #1e2122,
    Tabs-Content-bg-color: #181a1b,
    Tabs-Header-bg-color: #181a1b,
    Tabs-Header-border-bottom-color: #020509,
    text-area-bg-color: #181a1b,
    title-tag-color: #27539f,
    user-icon-bg-color: #4e2403,
    user-icon-color: #ff8121,

    light-visibility: hidden,
    dark-visibility: visible,
);

$spring:(
    antd-color-primary: #389e0d,
    antd-color-bg-container: #ffffff,
    ai-icon-bg-color: #c7ffaf,
    ai-icon-color: #62a645,
    ant-menu-color: #ebf7de,
    ant-menu-item-color: white,
    ant-menu-item-hover-color: #eaeaea,
    ant-menu-item-selected-bg-color: #f8f8f8,
    ant-menu-item-selected-box-shadow-color: #389e0d,
    button-bg-color: white,
    button-hover-color: #389e0d,
    gradient-divider-center-color: #389e0d,
    gradient-divider-tip-color: #b7eb8f,
    link-color: #1677ff,
    link-hover-color: #69b1ff,
    markdown-body-input-bg-color: #f8f8f8,
    markdown-body-reply-bg-color: #ffffff,
    notice-icon-bg-color: #e8d3ff,
    notice-icon-color: #7945af,
    outer-bg-border-color: #ccc,
    outer-bg-color: #fafafa,
    primary-color: white,
    prism-text-ordinary: black,
    reversed-color: black,
    scrollbar-thumb-color: #ccc,
    scrollbar-thumb-hover-color: #aaa,
    selected-outline-color: #389e0d,
    sendbox-bg-color: #f8f8f8,
    sendbox-border-top-color: #cccccc,
    sendbox-shadow-color: #dddddd,
    Sider-border-right-color: #dddddd,
    Sider-content-color: #ebf7de,
    Tabs-Content-bg-color: #f8f8f8,
    Tabs-Header-bg-color: #ffffff,
    Tabs-Header-border-bottom-color: #cccccc,
    text-area-bg-color: #ffffff,
    title-tag-color: #7cb305,
    user-icon-bg-color: #fde3cf,
    user-icon-color: #f56a00,

    light-visibility: visible,
    dark-visibility: hidden,
);

$themes:(
    light: $light,
    dark: $dark,
    spring: $spring,
)