$light:(
    primary-color: white,
    reversed-color: black,
    scrollbar-thumb-color: #ccc,
    scrollbar-thumb-hover-color: #aaa,
    prism-text-ordinary: black,
    Sider-content-color: #e8f2ff,
    Sider-border-right-color: #dddddd,
    ant-menu-color: #e8f2ff,
    ant-menu-item-hover-color: #eaeaea,
    ant-menu-item-selected-bg-color: #f8f8f8,
    ant-menu-item-selected-box-shadow-color: #296cc4,
    button-hover-color: #4287e1,
    gradient-divider-color: #a3c2eb,
    Tabs-Header-bg-color: #ffffff,
    Tabs-Header-border-bottom-color: #cccccc,
    Tabs-Content-bg-color: #f8f8f8,
    markdown-body-input-bg-color: #f8f8f8,
    markdown-body-reply-bg-color: #ffffff,
    sendbox-border-top-color: #cccccc,
    sendbox-box-shadow-color: #dddddd,
    sendbox-box-bg-color: #f8f8f8,
);

$dark:(
    primary-color: black,
    reversed-color: white,
    scrollbar-thumb-color: #a0b5cd,
    scrollbar-thumb-hover-color: #6f8296,
    prism-text-ordinary: slategrey,
    Sider-content-color: #131923,
    Sider-border-right-color: black,
    ant-menu-color: #131923,
    ant-menu-item-hover-color: #152337,
    ant-menu-item-selected-bg-color: black,
    ant-menu-item-selected-box-shadow-color: #224d86,
    button-hover-color: #4287e1,
    gradient-divider-color: #1a2e49,
    Tabs-Header-bg-color: #131923,
    Tabs-Header-border-bottom-color: #477fbe,
    Tabs-Content-bg-color: #131923,
    markdown-body-input-bg-color: #04080e,
    markdown-body-reply-bg-color: #0d1117,
    sendbox-border-top-color: #131629,
    sendbox-box-shadow-color: black,
    sendbox-box-bg-color: #040e1a,
);

$themes:(
    light: $light,
    dark: $dark,
)