.Header{
    background-color: #ffffff !important;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

@keyframes floatUp {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }   
}
  
.float-up {
    animation: floatUp 0.3s ease-out forwards;
}

.tab-content{
    background-color: #ffffff;
}

.developer-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -12px;
}

.card{
    width: 240px; 
    margin: 12px; 
}

.ant-card-meta-avatar {
    margin-top: 8px;
    margin-left:4px;
}
  

.ant-card-meta-description {
    margin-top: -8px;
    margin-bottom: 4px;
}   

.ant-card-meta-title {
    margin-top: 4px;
}   