@import '../../assets//themes/_themify.scss';

.rootLayout{
    @include themify {
        background-color: themed('primary-color');
    }
}

.video{
    @include themify {
        visibility: themed('light-visibility');
    }
}

.backImage{
    @include themify {
        visibility: themed('dark-visibility');
    }
}

.example{
    @include themify {
        visibility: themed('light-visibility');
    }
}

.exampleDark{
    @include themify {
        visibility: themed('dark-visibility');
    }
}

.i18n-icon {
    @include themify {
        color: themed('reversed-color');
    }
}